@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
 font-family: lato, sans-serif;
 font-weight: 300;
 color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #008080
    }

#logo {
  float: left;
  font-size: 280;
  
}

#menu {
 font-size: 100%;
 letter-spacing: 4px;
}

#menu, #logo {
line-height: 75%;
margin-top: 10px;

}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
 text-decoration: none;
 color: inherit;

}

#menu a:hover {
border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#main-outer { 
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-ketut-subiyanto-4998821.jpg') no-repeat;
    background-size: 50%, 25%, 25%; 
    padding-left: 10px;
}

#yoga-club {
    height: 600px;

}


#welcome {
    text-align: left;
    margin: 20px 0;
    font-size: 150%;
}   


hr {
 width: 100%;
 margin: 20px

} 



#at-our-place {
    text-align: left;
    margin: 20px 0;
    font-size: 150%;

}




    






